#First  {
    font-family: 'Sriracha', cursive;
    color: crimson;
}
.body   {
    font-family: 'Fira Sans', sans-serif;
}
body    {
    background-image: url(man2.jpg) ;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-color: blue;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
    body  {
        background-color: chartreuse;
        color: black
    }
}
@media screen and (min-width: 768px)    {
    body    {
        background-color: blueviolet;
        color: white;
    }
    .column {
        width: 220px;
        float: left;
        padding: 15px;
     }